@model project_eventmanager.Models.event_DestinationMember

@{
    ViewBag.Title = "Destination Member";
}

<div>
    <h4>Destination Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Record Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecordId)
        </dd>
        <dt>
            Des Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_Destination.desName)
        </dd>

        <dt>
            Full Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_user.FullName)
        </dd>

        <dt>
            Create By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            Create Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            Last Updat By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateBy)
        </dd>

        <dt>
            Last Update Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>

        <dd>
            @Html.ActionLink("Edit", "Edit", new {  id = Model.RecordId  }) |
                @Html.ActionLink("Back to List", "Index")
            </dd>

    </dl>
</div>
