@model project_eventmanager.Models.event_area

@{
    ViewBag.Title = "Details";
}

<div>
    <h4>Details Event Area</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Area Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AreaName)
        </dd>

        <dt>
            Parent Id
        </dt>

        <dd>
            @Html.Action("getParent", new { childentId =  Model.AreaID })
        </dd>

        <dt>
            Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            Is Enable
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isEnable)
        </dd>

        <dt>
            Create By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            Create Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            Last Update By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateBy)
        </dd>

        <dt>
            Last Update Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AreaID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
