@model project_eventmanager.Models.Table_prototype2

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Table_prototype2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecordName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RecordName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bitCheckbox)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bitCheckbox)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intRedio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intRedio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ColFloat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ColFloat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.colDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.colDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_area.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_area.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_area1.AreaName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_area1.AreaName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.event_Position.PositionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.event_Position.PositionID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
